
$font__size: 25px;
$shadows:   2px 2px 2px 1px rgba(0, 0, 0, 0.2);
$font__family__card: 'Roboto', sans-serif;
$font__family__number: 'Dela Gothic One', cursive;


//color contact
$font__color__contact: white;
$font__size__contact: 35px;

//$font__contact:;